@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./images/4k-gd7f9e82e6_1920-min.jpg); */
  /* background-image: url(./images/beautiful-flowers-g00bc793f9_1920-min.jpg); */
  
  background: url(https://cdn.pixabay.com/photo/2013/07/19/00/18/splashing-165192_1280.jpg);
  /* background: url(https://cdn.pixabay.com/photo/2016/11/29/11/39/computer-1869236_1280.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #130059;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
